@import "Base/minireset";
@import "Base/font";
@import "utils/variables";
@import "Utils/mixins";
@import "base/titles";
@import "layout/logo";
@import "layout/loader";
@import "components/button";
@import "layout/footer";

html{
    scroll-behavior: smooth;
}
body{
    margin: 0 auto;
}
.mainPages{
    @include mainPages;
}
.mainAccueil{
    max-width: 1440px;
    @include ecran(desktop){
        margin: 0 auto;
    }
}

.search{
    @include recherche;
}
.presentation{
    @include presentation;
}
.fonctionnement{
    @include fonctionnement;
}


.fonctionnementContent{
    @include fonctionnementContent;
}

.num{
    @include num;
}
.restaurants{
    @include restaurantsAll;
}
.restoCards{
    @include ecran(desktop){
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
}
.vide{
    @include vide;
}
.plein{
    @include plein;
}
.coeur:hover > .plein{
    @include coeur
}

.nomRestaurant{
    @include nomResto;
}
.restoImg{
    @include restoImg;
}

.note_header{
    background-color: white;
}
.menuPart{
    margin: 20px 0;
}
.menu{
    @include ecran(desktop) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }
}
.menuItem{
    @include menuItem
}
.nomPlat{
    @include nomPlat
}  
.prix{
    @include prix
}
.check{
    @include check
}
.menuItem:hover .check{
    width: 70px;
    i{
        color: white;
        transform: rotate(360deg);
        transition:0.6s;
    }
}
@import "Utils/functions";
 


