@import "Base/minireset";
@import "Base/font";
@import "base/titles";
@import "utils/variables";
@import "Utils/mixins";
@import "layout/logo";
@import "layout/footer";

.body{
    background-color: $body-color;
}

.search{
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid transparent;
    background-color: #eaeaea;
    label{
        margin-right: 10px;
    }
    input{
        border: none;
        background-color: #eaeaea;
    }
}
.presentation{
    display: flex;
    flex-flow: column nowrap;
    background-color: $back;
    h1{
        text-align: center;
        margin-top: 30px;
        font-weight: bold;
        padding: 10px 50px;
    }
    p{
        margin-top: 10px;
        text-align: center;
        padding: 0 20px;
    }
    button{
        margin-top: 20px;
        width: 50%;
        align-self: center;
        font-size: 0.9em;
        font-weight: bold;
        height: 50px;
        border-radius: 40px;
        border: none;
        color: white;
        background-image: linear-gradient(to bottom right, $second, $prim);
        margin-bottom: 40px;
    }
}
.fonctionnement{
    margin: 50px 0 50px 20px;
    display: flex;
    flex-flow: column nowrap;
    ul{
        & :hover{
            background-color: lighten($prim, 35);
            transition: 500ms;
        }
    }
    li{
        @include listAcceuil;
        i{
            margin-right: 30px;
        }
    }
}
.num{
    transform: translateX(-10px);
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: $prim;
    color: white;
    margin-right: 10px;
    padding: 3px 7px;
}
.restaurants{
    background-color: $back;
    padding: 50px 20px;
    .cards{
        display: block;
        margin: 30px 0;
        text-decoration: none;
        color: black;
        background-color: white;
        border-radius: 15px;
    }
    picture{
        display: block;
        height: 250px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
    }

    .desc{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        height: 80px;
        i{
            font-size: 1.5em;
        }
    }
}