@import "Base/minireset";
@import "Base/font";
@import "utils/variables";
@import "Utils/mixins";
@import "base/titles";
@import "layout/logo";
@import "layout/loader";
@import "components/button";
@import "layout/footer";

html{
    scroll-behavior: smooth;
}
body{
    max-width: 1440px;
    margin: 0 auto;
}
.mainPages{
    background-color: $back;
    padding: 30px 10px;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    max-width: 1440px;
    margin: 0 auto;
}
.mainAccueil{
    max-width: 1440px;
    @include ecran(desktop){
        margin: 0 auto;
    }
}

.search{
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid transparent;
    background-color: #eaeaea;
    input{
        border: none;
        background-color: #eaeaea;
    }
}
.presentation{
    display: flex;
    flex-flow: column nowrap;
    background-color: $back;
    h1{
        text-align: center;
        margin-top: 30px;
        font-weight: bold;
        padding: 10px 50px;
    }
    p{
        margin-top: 10px;
        text-align: center;
        padding: 0 20px;
    }
    a{
        align-self: center;
    }
}
.fonctionnement{
    margin: 50px 0 50px 30px;
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    li{
        @include listAcceuil;
    }
    li:hover{
        background-color: lighten($prim, 35);
        transition: 500ms;
    }
    li:hover > div i{
        color: $prim;
        transition: 500ms;
    }
    @include ecran(desktop){
        h2{
            text-align: center;
        }
        ul{
            display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        li{
            margin: 30px 30px 0 30px;
        }
        }
    }
    @include ecran(tablette){
        h2{
            text-align: center;
        }
        margin: 30px auto;
        width: 80%;
    }
}


.fonctionnementContent{
    display: flex;
    i{
        margin-right: 20px;
        font-size: 1.2em;
    }
    p{
        font-weight: bold
    }
}

.num{
    @include num;
}
.restaurants{
    @include restaurants;
    @include ecran(desktop){
        h2{
            text-align: center;
        }
    }
    picture{
        display: block;
        height: 250px;
        img{
            @include img;
        }
        @include ecran(desktop){
            height: 300px;
            width: 600px;
        }
    }
    .nouveau{
        position: absolute;
        top: 5%;
        right: 5%;
        padding: 5px 10px;
        background-color: $third;
        border-radius: 3px;
        p{
            color: darken($third, 40%);
            font-weight: bold;
            font-size: 0.8em;
        }
    }
    .desc{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        height: 80px;
        .vide{
            font-size: 1.5em;
        }
        .plein{
            font-size: 1.5em;
        }
    }
}
.restoCards{
    @include ecran(desktop){
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
}
.vide{
    position: relative;
}
.plein{
    position: absolute;
    color: transparent
}
.coeur:hover > .plein{
    animation: grandi 1s linear forwards;
    transform-origin: bottom;
    background: $grad1;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
@keyframes grandi {
    0%{
        transform: scale(0);
    }
    25%{
        transform: scale(0.25);
    }
    50%{
        transform: scale(0.5);
    }
    75%{
        transform: scale(0.75);
    }
    100%{
        transform: scale(1);
    }
}
.nomRestaurant{
    font-family: "Shrikhand", sans-serif;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 20px;
    i{
        font-size: 1.8rem;
    }
}
.restoImg{
    margin-bottom: -40px;
    z-index: -1;
    position: relative;
}
.resto_note{
    @include ecran(desktop){
        margin-bottom: -500px;
        transform: translateY(-400px);
    }
}
.note_header{
    background-color: white;
}
.menuPart{
    margin: 20px 0;
}
.menu{
    @media  screen and (min-width: 992px) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }
}
.menuItem{
    display: flex; 
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;                
    margin-bottom: 10px;
    line-height: 1.5;
    overflow: hidden;
    @include cardShadows;
    @include fade;
    @media screen and (min-width: 992px) {
        width: 120%;
    }
}
.nomPlat{
    display: flex;
    flex-flow: column nowrap;
    @include slide;
    padding: 8px;
    overflow: hidden;

    h6, p{
        white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    p{
        font-size: 0.9em;
    }
}  
.prix{
    display: flex;
    font-weight: bold;
    justify-content: center;
    @include slide;
    p{
        align-self: flex-end;
        padding-bottom: 8px;
    }
}
.check{
    width: 0;
    overflow: hidden;
    background-color: $third;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    transition: width 0.6s;
    color: white;
    i{
        transition: 0.6s;
        font-size: 1.4em;
    }
}
.menuItem:hover .check{
    width: 70px;
    i{
        color: white;
        transform: rotate(360deg);
        transition:0.6s;
    }
}

@for $i from 1 to 5 {
    .item_#{$i}{
        animation-delay: 300ms * $i ;
    }
}
 


