/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.title {
  font-family: "Shrikhand", sans-serif;
}

::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: black;
}

/*Colors*/
/*media queries*/
/*main page*/
/* recherche*/
/* presentation*/
/* fonctionnement*/
/* restaurants*/
/*Menu*/
/*coeur*/
/*box-shadow*/
/*liste*/
/*animation*/
h1 {
  font-size: 1.6em;
  font-weight: bold;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 1.8em;
  }
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
}

@media (min-width: 1200px) {
  h2 {
    font-size: 1.6em;
  }
}

h3 {
  font-size: 1.1em;
  font-weight: bold;
}

@media (min-width: 1200px) {
  h4 {
    font-size: 1.5em;
  }
}

h5 {
  margin: 30px 0px;
  position: relative;
}

@media (min-width: 1200px) {
  h5 {
    text-align: center;
  }
}

h5::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 4em;
  height: 2px;
  background-color: #99E2D0;
  transform: scaleX(0.5);
  transform-origin: left;
}

@media (min-width: 1200px) {
  h5::after {
    left: 45%;
  }
}

h6 {
  font-weight: bold;
  margin-bottom: 5px;
}

header {
  display: flex;
  border-bottom: 2px solid transparent;
  box-shadow: 0px 7px 9px -6px #747373;
  z-index: 1;
  position: relative;
}

header a {
  display: block;
  visibility: visible;
  align-self: center;
  text-align: left;
  color: black;
  padding-left: 20px;
}

header .logo {
  display: block;
  margin: 10px auto 0 auto;
  align-self: center;
}

.loader {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  font-size: 2rem;
  font-family: "Shrikhand", sans-serif;
  background-color: white;
  opacity: 0.95;
  color: black;
  width: 100%;
  height: 100%;
  align-items: center;
  text-shadow: 1px 1px 2px #9356DC, 0 0 1em #FF79DA, 0 0 0.2em #99E2D0;
  animation: loading 1.5s forwards;
}

@keyframes loading {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

.loader p {
  animation: 1.5s linear fade, 1.5s linear changecol;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  12% {
    opacity: 0.25;
  }
  25% {
    opacity: 0.5;
  }
  37% {
    opacity: 0.75;
  }
  50% {
    opacity: 1;
  }
  62% {
    opacity: 0.75;
  }
  75% {
    opacity: 0.5;
  }
  87% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}

@keyframes changecol {
  0% {
    color: #9356DC;
  }
  12% {
    color: #FF79DA;
  }
  25% {
    color: #99E2D0;
  }
  37% {
    color: #FF79DA;
  }
  50% {
    color: #9356DC;
  }
  62% {
    color: #FF79DA;
  }
  75% {
    color: #99E2D0;
  }
  87% {
    color: #FF79DA;
  }
  100% {
    color: #9356DC;
  }
}

.btn {
  margin-top: 20px;
  width: 60%;
  font-size: 0.9em;
  font-weight: bold;
  height: 50px;
  border-radius: 40px;
  border: none;
  background: linear-gradient(160deg, #FF79DA, #9356DC);
  margin-bottom: 40px;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 15px 0;
}

@media (min-width: 1200px) {
  .btn {
    width: 15%;
  }
}

@media (min-width: 600px) {
  .btn {
    width: 45%;
  }
}

.btn:hover {
  opacity: 0.8;
  transition: 300ms;
  box-shadow: 0px 7px 9px -6px #747373;
}

.command {
  display: flex;
  justify-content: center;
}

footer {
  color: white;
  background-color: black;
  padding: 20px 10px;
}

footer .footer {
  margin-left: 10px;
}

@media (min-width: 1200px) {
  footer {
    text-align: center;
  }
}

@media (min-width: 600px) {
  footer {
    text-align: center;
  }
}

.footer h4 {
  margin-bottom: 10px;
}

.footer li {
  list-style: none;
  display: flex;
  margin-bottom: 5px;
}

.footer li i {
  font-size: 0.8rem;
}

.footer a {
  display: flex;
  text-decoration: none;
  color: white;
}

.footer .fa-utensils {
  margin-right: 9px;
  align-self: center;
}

.footer .fa-hands-helping {
  font-size: 0.7rem;
  margin-right: 5px;
  align-self: center;
}

.footer a:hover > p, .footer a:hover > i {
  color: #9356DC;
}

@media (min-width: 1200px) {
  .footer ol {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-top: 20px;
  }
}

@media (min-width: 600px) {
  .footer ol {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-top: 20px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
}

.mainPages {
  background-color: #f6f6f6;
  padding: 30px 10px;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  max-width: 1440px;
  margin: 0 auto;
}

.mainAccueil {
  max-width: 1440px;
}

@media (min-width: 1200px) {
  .mainAccueil {
    margin: 0 auto;
  }
}

.search {
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid transparent;
  background-color: #eaeaea;
}

.search input {
  border: none;
  background-color: #eaeaea;
}

.presentation {
  display: flex;
  flex-flow: column nowrap;
  background-color: #f6f6f6;
}

.presentation h1 {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
  padding: 10px 50px;
}

.presentation p {
  margin-top: 10px;
  text-align: center;
  padding: 0 20px;
}

.presentation a {
  align-self: center;
}

.fonctionnement {
  margin: 50px 0 50px 30px;
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
}

.fonctionnement li {
  display: flex;
  align-items: center;
  margin: 10px 0;
  border: none;
  background-color: #f6f6f6;
  border-radius: 30px;
  width: 90%;
  height: 90px;
}

@media (min-width: 600px) {
  .fonctionnement li {
    margin: 30px auto;
    width: 80%;
  }
}

.fonctionnement li:hover {
  background-color: #f2eafb;
  transition: 500ms;
}

.fonctionnement li:hover > div i {
  color: #9356DC;
  transition: 500ms;
}

@media (min-width: 600px) {
  .fonctionnement h2 {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .fonctionnement h2 {
    text-align: center;
  }
  .fonctionnement ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  .fonctionnement ul li {
    margin: 30px 30px 0 30px;
  }
}

.fonctionnementContent {
  display: flex;
}

.fonctionnementContent i {
  margin-right: 20px;
  font-size: 1.2em;
}

.fonctionnementContent p {
  font-weight: bold;
}

.num {
  transform: translateX(-10px);
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  margin-right: 10px;
  padding: 3px 7px;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 50px 20px;
}

.restaurants .cards {
  display: block;
  margin: 30px 0;
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 0 6px 2px rgba(105, 103, 103, 0.24);
}

.restaurants .cards:hover {
  box-shadow: 0 0 6px 2px #99E2D0;
}

@media (min-width: 1200px) {
  .restaurants h2 {
    text-align: center;
  }
}

.restaurants picture {
  display: block;
  height: 250px;
}

.restaurants picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

@media (min-width: 1200px) {
  .restaurants picture {
    height: 300px;
    width: 600px;
  }
}

.restaurants .nouveau {
  position: absolute;
  top: 5%;
  right: 5%;
  padding: 5px 10px;
  background-color: #99E2D0;
  border-radius: 3px;
}

.restaurants .nouveau p {
  color: #278870;
  font-weight: bold;
  font-size: 0.8em;
}

.restaurants .desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 80px;
}

@media (min-width: 1200px) {
  .restoCards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}

.vide {
  position: relative;
  font-size: 1.5em;
  transform: scale(1.1);
}

.plein {
  font-size: 0.9em;
  position: absolute;
  color: transparent;
  font-size: 1.5em;
}

.coeur:hover > .plein {
  animation: grandi 1s linear forwards;
  transform-origin: bottom;
  background: linear-gradient(160deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes grandi {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0.25);
  }
  50% {
    transform: scale(0.5);
  }
  75% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}

.nomRestaurant {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 20px;
}

.nomRestaurant i {
  font-size: 1.8rem;
}

@media (min-width: 1200px) {
  .nomRestaurant {
    padding: 0 80px;
  }
}

.restoImg {
  margin-bottom: -40px;
  height: 400px;
  z-index: -1;
  position: relative;
}

.restoImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.note_header {
  background-color: white;
}

.menuPart {
  margin: 20px 0;
}

@media (min-width: 1200px) {
  .menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
}

.menuItem {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 10px;
  line-height: 1.5;
  overflow: hidden;
  box-shadow: 0 0 6px 2px rgba(105, 103, 103, 0.24);
  animation: slide 1s ease-in both;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 1200px) {
  .menuItem {
    width: 20em;
  }
}

.nomPlat {
  display: flex;
  flex-flow: column nowrap;
  padding: 8px;
  overflow: hidden;
}

.nomPlat h6, .nomPlat p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nomPlat p {
  font-size: 0.9em;
}

.prix {
  display: flex;
  font-weight: bold;
  justify-content: center;
}

.prix p {
  align-self: flex-end;
  padding-bottom: 8px;
}

.check {
  width: 0;
  overflow: hidden;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  transition: width 0.6s;
  color: white;
}

.check i {
  transition: 0.6s;
  font-size: 1.4em;
}

.menuItem:hover .check {
  width: 70px;
}

.menuItem:hover .check i {
  color: white;
  transform: rotate(360deg);
  transition: 0.6s;
}

.item_1 {
  animation-delay: 300ms;
}

.item_2 {
  animation-delay: 600ms;
}

.item_3 {
  animation-delay: 900ms;
}

.item_4 {
  animation-delay: 1200ms;
}
/*# sourceMappingURL=Main.css.map */