/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.title {
  font-family: "Shrikhand", sans-serif;
}

::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: black;
}

/*Colors*/
/*fleche retour*/
.list li {
  list-style: none;
}

.list li:nth-child(1) div {
  animation-delay: 0s;
}

.list li:nth-child(2) div {
  animation-delay: 0.25s;
}

.list li:nth-child(3) div {
  animation-delay: 0.5s;
}

.list li:nth-child(4) div {
  animation-delay: 0.75s;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
}

h5 {
  margin: 30px 0px;
  position: relative;
}

h5::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 20%;
  height: 2px;
  background-color: #99E2D0;
  transform: scaleX(0.5);
  transform-origin: left;
}

h6 {
  font-weight: bold;
  margin-bottom: 5px;
}

header {
  display: flex;
  border-bottom: 2px solid transparent;
  box-shadow: 0 0 6px 2px black;
}

header a {
  display: block;
  visibility: visible;
  align-self: center;
  text-align: left;
  color: black;
  padding-left: 20px;
}

header .logo {
  display: block;
  margin: 10px auto;
  align-self: center;
}

.btn {
  margin-top: 20px;
  width: 50%;
  font-size: 0.9em;
  font-weight: bold;
  height: 50px;
  border-radius: 40px;
  border: none;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  margin-bottom: 40px;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 15px 0;
}

.command {
  display: flex;
  justify-content: center;
}

footer {
  color: white;
  background-color: black;
  padding: 20px 10px;
}

footer .footer {
  margin-left: 10px;
}

.footer h4 {
  margin-bottom: 10px;
}

.footer li {
  list-style: none;
  display: flex;
  margin-bottom: 5px;
}

.footer li i {
  font-size: 0.8rem;
}

.footer a {
  display: flex;
  text-decoration: none;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.body {
  background-color: #e6e6e6;
}

main {
  background-color: #f6f6f6;
  padding: 30px 10px;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
}

.search {
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid transparent;
  background-color: #eaeaea;
}

.search input {
  border: none;
  background-color: #eaeaea;
}

.presentation {
  display: flex;
  flex-flow: column nowrap;
  background-color: #f6f6f6;
}

.presentation h1 {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
  padding: 10px 50px;
}

.presentation p {
  margin-top: 10px;
  text-align: center;
  padding: 0 20px;
}

.presentation a {
  align-self: center;
}

.fonctionnement {
  margin: 50px 0 50px 20px;
  display: flex;
  flex-flow: column nowrap;
}

.fonctionnement ul :hover {
  background-color: #f2eafb;
  transition: 500ms;
}

.fonctionnement li {
  display: flex;
  align-items: center;
  margin: 10px 0;
  border: none;
  background-color: #f6f6f6;
  border-radius: 30px;
  width: 90%;
  height: 90px;
}

.fonctionnement li i {
  margin-right: 30px;
}

.num {
  transform: translateX(-10px);
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  margin-right: 10px;
  padding: 3px 7px;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 50px 20px;
}

.restaurants .cards {
  display: block;
  margin: 30px 0;
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 6px 2px rgba(105, 103, 103, 0.24);
}

.restaurants picture {
  display: block;
  height: 250px;
}

.restaurants picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.restaurants .desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 80px;
}

.restaurants .desc i {
  font-size: 1.5em;
}

.restaurants .desc i:hover {
  animation: coeur 5s ease-in-out 0s 1 normal forwards;
  transform-origin: center;
}

@keyframes coeur {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    background: radial-gradient(#FF79DA, #9356DC, transparent 85%);
  }
}

.nomRestaurant {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 20px;
}

.nomRestaurant i {
  font-size: 1.8rem;
}

.restoImg {
  margin-bottom: -40px;
  z-index: -1;
  position: relative;
}

.menuPart {
  margin: 20px 0;
}

@media screen and (min-width: 992px) {
  .menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
}

.menuItem {
  border: 2px solid transparent;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 6px 2px rgba(105, 103, 103, 0.24);
  animation: fadeIn 1s ease-in both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menuItem div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 0.9rem;
  padding-right: 10px;
}

@media screen and (min-width: 992px) {
  .menuItem {
    width: 120%;
  }
}

.menuItem h6, .menuItem div {
  animation: slide 1s ease-in forwards;
}

@keyframes slide {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.prix {
  font-weight: bold;
}
/*# sourceMappingURL=Main.css.map */