.btn{
    @include bouton;
    @include ecran(desktop){
        width: 15%;
    }
    @include ecran(tablette){
        width: 45%;
    }
}
.btn:hover{
    opacity: 0.8;
    transition: 300ms;
    @include header-shadow;
}
.command{
    display: flex;
    justify-content: center;
}