.btn{
    margin-top: 20px;
    width: 50%;
    font-size: 0.9em;
    font-weight: bold;
    height: 50px;
    border-radius: 40px;
    border: none;
    background-image: linear-gradient(to bottom right, $second, $prim);
    margin-bottom: 40px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 0;
    &_hover{
        animation: grand ease-in-out 2s forwards;
        @keyframes grand {
            0%{
                scale: 0,0;
            }
            100%{
                scale: 0.8,0.8;
            }
        }
    }
}
.command{
    display: flex;
    justify-content: center;
}