.btn{
    margin-top: 20px;
    width: 50%;
    font-size: 0.9em;
    font-weight: bold;
    height: 50px;
    border-radius: 40px;
    border: none;
    background: $grad1;
    margin-bottom: 40px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 0;
    @include ecran(desktop){
        width: 15%;
    }
}
.btn:hover{
    opacity: 0.5;
    transition: 300ms;
    @include header-shadow;
}
.command{
    display: flex;
    justify-content: center;
}