h1{
    font-size: 1.4em;
    font-weight: bold;
}
h2{
    font-size: 1.3em;
    font-weight: bold; 
}
h3{
    font-size: 1.1em;
    font-weight: bold;
}
h4{
    @include ecran(desktop){
        font-size: 1.5em;
    }
}
h5{
    margin: 30px 0px;
    position: relative;

}
h5::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 20%;
    height: 2px;
    background-color: $third;
    transform: scaleX(0.5);
    transform-origin: left;
}
h6{
    font-weight: bold;
    margin-bottom: 5px;
}