footer{
    color: white;
    background-color: $footbg;
    padding: 20px 10px;
    .footer{
        margin-left: 10px;
    }
}
.footer{
    h4{
        margin-bottom: 10px;
    }
    li{
        list-style: none;
        display: flex;
        margin-bottom: 5px;
        i{
            font-size: 0.8rem;
        }
    }
}
