footer{
    color: white;
    background-color: $footbg;
    padding: 20px 10px;
    .footer{
        margin-left: 10px;
    }
    @include ecran(desktop){
        text-align: center;
    }
    @include ecran(tablette){
        text-align: center;
    }
}
.footer{
    h4{
        margin-bottom: 10px;
    }
    li{
        list-style: none;
        display: flex;
        margin-bottom: 5px;
        i{
            font-size: 0.8rem;
        }
    }
    a{
        display: flex;
        text-decoration: none;
        color: white;
    }
    .fa-utensils{
        margin-right: 9px;
    }
    .fa-hands-helping{
        font-size: 0.7rem;
        margin-right: 5px;
    }
    a:hover > p, a:hover > i{
        color: $prim;
    }
    @include ecran(desktop){
        ol{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            margin-top: 20px;
            
        }
    }
    @include ecran(tablette){
        ol{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            margin-top: 20px;   
        }
    }
}
