header{
    display: flex;
    border-bottom: 2px solid transparent;
    @include header-shadow;
    & i{
        display: block;
        visibility: $cacher;
        align-self: center;
        text-align: left;
    }
    & .logo{
        display: block;
        margin: 10px auto;
        align-self: center;
    }
}
