header{
    display: flex;
    border-bottom: 2px solid transparent;
    @include header-shadow;
    z-index: 1;
    position: relative;
    a{
        display: block;
        visibility: $visible;
        align-self: center;
        text-align: left;
        color: black;
        padding-left: 20px;
    }
    .logo{
        display: block;
        margin: 10px auto 0 auto;
        align-self: center;
    }
}

